@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

*{
    background-color: rgb(228, 238, 240);
    margin: 0px 0px;
}
html *{
    font-family: 'Bricolage Grotesque', sans-serif;

}
#header {
    background-color: rgb(73, 35, 35);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 1;
}
#div-1 {
    display: inline;
    background-color: rgb(73, 35, 35);
    color: rgb(199, 153, 153);
    padding-left: 40px;
    padding-right: 65vw;
}
.div-2 {
    padding-left: 10px;
    padding-right: 0px;
    background-color:rgb(73, 35, 35);

}
.text-prop {
    color: white;
    background-color: rgb(73, 35, 35);
    text-decoration: none;
}
table,tr,td,th{
    background-color: white;
    border: 1px solid rgb(228, 238, 240);
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}
